@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@mixin card-before($parent, $color) {
  #{$parent}::before {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    background: $color;
    left: 0;
    right: 0;
    top: 0;
  }
}

@mixin text-color($parent, $color) {
  #{$parent} {
    color: $color;
  }
}

@mixin sm {
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin md {
  @media (min-width: $screen-md-min) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $screen-xl-min) {
    @content;
  }
}
