body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.theme--light .container {
  background: white;
  color: #1e202a;
}
.theme--dark .container {
  background: #1e202a;
  color: white;
}

.wrapper {
  padding: 0 30px;
}
@media (min-width: 1024px) {
  .wrapper {
    max-width: 1440px;
    margin: auto;
  }
}

.grid {
  display: grid;
  grid-row-gap: 25px;
  grid-column-gap: 25px;
}
@media (min-width: 576px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.text-white {
  color: white;
}

.text-green {
  color: #1db489;
}

.text-red {
  color: #dc414c;
}

.text-twitter {
  color: deepskyblue;
}

.text-facebook {
  color: #1ca0f2;
}

.text-instagram {
  color: linear-gradient(to right, #fdc468, #df4996);
}

.text-youtube {
  color: #c4032a;
}

.header {
  background: #f5f7ff;
  padding-bottom: 100px;
  padding-top: 2em;
  border-radius: 0 0 20px 20px;
}
.header h1 {
  margin: 0;
  font-size: 1.7em;
}
.header-total {
  color: #63687e;
  margin: 0.5em 0;
  font-weight: bold;
  border-bottom: 2px solid #63687e;
  padding-bottom: 1.5em;
}
@media (min-width: 1024px) {
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 200px;
  }
  .header-total {
    border: none;
  }
}
.theme--light .header {
  background: #f5f7ff;
}
.theme--light .header-total {
  color: #63687e;
}
.theme--dark .header {
  background: #1f212e;
}
.theme--dark .header-total {
  color: #8b97c6;
}

.dark-mode {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.switch {
  height: 40px;
  width: 80px;
  display: block;
  border-radius: 20px;
  background: #aeb3cb;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
.switch::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: #f5f7ff;
  border-radius: 50%;
  transform: translateX(40px);
  transition: 0.3s;
  will-change: transform;
}
.theme--light .switch {
  background: #aeb3cb;
}
.theme--light .switch::before {
  background: #f5f7ff;
}
.theme--dark .switch {
  background: linear-gradient(to right, #378fe6, #3eda82);
}
.theme--dark .switch::before {
  background: #1f212e;
}

.toggle-mode {
  display: none;
}
.toggle-mode:checked ~ .switch::before {
  transform: translateX(0);
}

.top-cards {
  margin-top: -50px;
  margin-bottom: 3em;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 0.7em 0;
  position: relative;
}
.card.white::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background: white;
  left: 0;
  right: 0;
  top: 0;
}
.card.green::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background: #1db489;
  left: 0;
  right: 0;
  top: 0;
}
.card.red::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background: #dc414c;
  left: 0;
  right: 0;
  top: 0;
}
.card.twitter::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background: deepskyblue;
  left: 0;
  right: 0;
  top: 0;
}
.card.facebook::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background: #1ca0f2;
  left: 0;
  right: 0;
  top: 0;
}
.card.instagram::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background: linear-gradient(to right, #fdc468, #df4996);
  left: 0;
  right: 0;
  top: 0;
}
.card.youtube::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background: #c4032a;
  left: 0;
  right: 0;
  top: 0;
}
.theme--light .card {
  background: #f0f2fa;
}
.theme--dark .card {
  background: #252a41;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  font-weight: bold;
}
.card-title img {
  margin-right: 5px;
}
.theme--light .card-title {
  color: #63687e;
}
.theme--dark .card-title {
  color: #8b97c6;
}

.card-today {
  margin-top: 20px;
  color: #1db489;
  font-size: 0.7em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-today img {
  margin-right: 5px;
}

.card-followers-number {
  font-size: 50px;
  font-weight: 700;
}
.card-followers-title {
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.75em;
}
.theme--light .card-followers-title {
  color: #63687e;
}
.theme--dark .card-followers-title {
  color: #8b97c6;
}

.overview {
  padding-bottom: 2em;
}
.theme--light .overview h2 {
  color: #63687e;
}
.theme--dark .overview h2 {
  color: #8b97c6;
}

.card-small {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2.5em;
  border-radius: 8px;
  padding: 1.7em;
}
.card-small p {
  margin: 0;
}
.card-small-views {
  font-weight: bold;
  font-size: 0.9em;
}
.theme--light .card-small-views {
  color: #63687e;
}
.theme--dark .card-small-views {
  color: #8b97c6;
}
.card-small-icon {
  text-align: right;
}
.card-small-number {
  font-weight: bold;
  font-size: 2.7em;
  line-height: 0.9;
}
.card-small-percentage {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 0.9em;
  font-weight: bold;
}
.card-small-percentage span {
  display: flex;
  align-items: center;
}
.card-small-percentage img {
  margin-right: 5px;
}
.theme--light .card-small {
  background: #f0f2fa;
}
.theme--dark .card-small {
  background: #252a41;
}

/*# sourceMappingURL=styles.css.map */
